<a href="https://www.kaggle.com/code/willyankoeswara/classify-survival-in-accident-with-decision-tree?scriptVersionId=95030925" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Dataset

In [1]:
import pandas as pd
df = pd.read_csv("../input/ttnccsv/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Data Cleaning

In [2]:
# Remove Label That We Dont Need
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

**Fill null with Mean**

In [3]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [4]:
x = df["Age"].mean()
df["Age"].fillna(x, inplace = True)

In [5]:
# Convert Float to Int
df.Age = df.Age.astype(int)
df.Fare = df.Fare.astype(int)

In [6]:
# Convert String to Int
df['Sex'] = df['Sex'].apply({'male':1,'female':0}.get)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    int64
 4   Fare      891 non-null    int64
dtypes: int64(5)
memory usage: 34.9 KB

In [8]:
df.describe()

         Survived      Pclass         Sex         Age        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587   29.544332   31.785634
std      0.486592    0.836071    0.477990   13.013778   49.703730
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000   22.000000    7.000000
50%      0.000000    3.000000    1.000000   29.000000   14.000000
75%      1.000000    3.000000    1.000000   35.000000   31.000000
max      1.000000    3.000000    1.000000   80.000000  512.000000

In [9]:
df

     Survived  Pclass  Sex  Age  Fare
0           0       3    1   22     7
1           1       1    0   38    71
2           1       3    0   26     7
3           1       1    0   35    53
4           0       3    1   35     8
..        ...     ...  ...  ...   ...
886         0       2    1   27    13
887         1       1    0   19    30
888         0       3    0   29    23
889         1       1    1   26    30
890         0       3    1   32     7

[891 rows x 5 columns]

# Split Data

In [10]:
inputs = df.drop('Survived',axis='columns')
target = df['Survived']

# Decision Tree

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(inputs, target)

DecisionTreeClassifier()

**Score Accuration**

In [12]:
model.score(inputs,target)

0.9494949494949495

**Prediction**

In [13]:
model.predict([[2,1,24,30]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

0 mean not survive

1 mean survive