# Dataset

In [1]:
import pandas as pd
df = pd.read_csv("../input/ttnccsv/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Data Cleaning

**Remove Label That We Dont Need**

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [3]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

**Replace null Value with Mean**

In [4]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [5]:
x = df["Age"].mean()

df["Age"].fillna(x, inplace = True)

In [6]:
df

     Survived  Pclass     Sex        Age     Fare
0           0       3    male  22.000000   7.2500
1           1       1  female  38.000000  71.2833
2           1       3  female  26.000000   7.9250
3           1       1  female  35.000000  53.1000
4           0       3    male  35.000000   8.0500
..        ...     ...     ...        ...      ...
886         0       2    male  27.000000  13.0000
887         1       1  female  19.000000  30.0000
888         0       3  female  29.699118  23.4500
889         1       1    male  26.000000  30.0000
890         0       3    male  32.000000   7.7500

[891 rows x 5 columns]

# Split Data

In [7]:
inputs = df.drop('Survived',axis='columns')
target = df['Survived']

**Transform String (Sex) to Binary (Gender)**

In [8]:
from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()

inputs['Gender'] = le_gender.fit_transform(inputs['Sex'])
inputs

     Pclass     Sex        Age     Fare  Gender
0         3    male  22.000000   7.2500       1
1         1  female  38.000000  71.2833       0
2         3  female  26.000000   7.9250       0
3         1  female  35.000000  53.1000       0
4         3    male  35.000000   8.0500       1
..      ...     ...        ...      ...     ...
886       2    male  27.000000  13.0000       1
887       1  female  19.000000  30.0000       0
888       3  female  29.699118  23.4500       0
889       1    male  26.000000  30.0000       1
890       3    male  32.000000   7.7500       1

[891 rows x 5 columns]

In [9]:
inputs_n = inputs.drop(['Sex'],axis='columns')
inputs_n

     Pclass        Age     Fare  Gender
0         3  22.000000   7.2500       1
1         1  38.000000  71.2833       0
2         3  26.000000   7.9250       0
3         1  35.000000  53.1000       0
4         3  35.000000   8.0500       1
..      ...        ...      ...     ...
886       2  27.000000  13.0000       1
887       1  19.000000  30.0000       0
888       3  29.699118  23.4500       0
889       1  26.000000  30.0000       1
890       3  32.000000   7.7500       1

[891 rows x 4 columns]

# Decision Tree

In [10]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

model.fit(inputs_n, target)

DecisionTreeClassifier()

**Score Accuration**

In [11]:
model.score(inputs_n,target)

0.9797979797979798

In [12]:
model.predict([[2,24,30,1]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])